.BaoBao .card-header {
  padding: 50%;
}

.BaoBao .card-cover {
  top: 15%;
}

.BaoBao .card-main{
    margin-top: 10%;
}

.BaoBao  .card-main{
    background: linear-gradient(to top, #6062624d 0%, #f8f2f528 100%);
}

.BaoBao .social-container{
    margin-top:20%;
}

