.MainNewsFullView {
  border: 0.5px solid;
  border-radius: 30px;
  margin-left: 2%;
  margin-right: 2%;
  border-color: rgba(15, 15, 15, 0.308);
}
.titleFullView {
  margin-top: 2%;
}
.imgFullView {
  margin-top: 0.3%;
  margin-bottom: 2%;
  width: 96%;
  height: 40vh;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.041);
  border-radius: 20px;
}

.contentFullView {
  padding: 0% 2% 2% 3%;
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.comment {
  margin-top: 3%;
}

.fb-comments {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgba(15, 15, 15, 0.308);
}

.fb-like {
  margin: 1% 85.5% 0.3% 0%;
}
